.red-background {
  background-color: white;
}

.red-background h4 {
  color: black;
  background-color: red;
}

div.field_with_errors input,
div.field_with_errors textarea {
  border: 2px solid red;
  color: red;
}